{% extends 'base.html' %}

{% block title %} Анкета статьи {% endblock %}

{% block content %}
    <table class="table">
        <form action="{{url_for('process')}}" method="get" class="form-contact">
        <p><label>Автор: </label> <input type="text" name="author" value="" requied />
        <p><label>Заголовок: </label> <input type="text" name="title" value="" requied />
        <p><label>Тэг(и): </label> <input type="text" name="tag" value="" requied />
        <p><label>Категория: </label> <input type="text" name="cat" value="" requied />
        <p><label>Текст: </label>
        <p><textarea name="post" rows=7 cols=40></textarea>
        <p><input type="submit" value="Добавить" />
        </form>
    </table>
{% endblock %}
